<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' type='text/css' href='main.css'>
    <link rel='stylesheet' type='text/css' href='cov.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Performance table</title>
</head>
<body>
    <div class="content">
        <center class='results'>
        <div class="page-wrapper">
            <div class="test-results">
                <div class="table-wrapper">
                    {{ perf_results_table }}
                </div>
            </div>
        </div>
        </center>
    </div>
    <footer>
    </footer>
</body>

<script>
const header = document.querySelector('header');
const colHeaders = document.querySelectorAll("th");
const tableWrapper = document.querySelector('.table-wrapper');

function updateOffsets() {
    const headerHeight = header.offsetHeight + "px";
    tableWrapper.style.marginTop = headerHeight;
    colHeaders.forEach((col) => {
        col.style.top = headerHeight;
    })
}

window.addEventListener('resize', updateOffsets, {passive: true});
window.addEventListener('load', updateOffsets, {passive: true});
</script>

</html>
