<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>
    Dashboard
  </title>
  <link rel="stylesheet" type="text/css" href="cov.css">
  <style>
    table {
      width: 50%;
    }
  </style>
</head>

<body>
  <center>
    <h1>
      Dashboard
    </h1>

  <table style="border: 1px solid black">
    <p>Reports for commits from <b>main</b> branch</p>
    {% if commits_main|length > 0 %}
      <tr>
        <td>Commit</td>
        <td>Created at</td>
      </tr>
      {% for i in range(commits_main|length) -%}
      <tr>
          <td>
            <a href="{{commits_main[i]["commit_sha"]}}/report_collective.html">
              {{commits_main[i]["commit_sha"]}}
            </a>
          </td>
          <td>
            {{commits_main[i]["created_at"]}}
          </td>
      </tr>
        {% endfor %}
    {% endif %}
  </table>

  <table style="">
    <p>Reports for other commits</p>
    {% if commits|length > 0 %}
      <tr>
        <td>Commit</td>
        <td>Branch</td>
        <td>Created at</td>
      </tr>
      {% for i in range(commits|length) -%}
      <tr>
          <td>
            <a href="{{commits[i]["commit_sha"]}}/report_collective.html">
              {{commits[i]["commit_sha"]}}
            </a>
          </td>
          <td>
            {{commits[i]["branch"]}}
          </td>
          <td>
            {{commits[i]["created_at"]}}
          </td>
      </tr>
        {% endfor %}
    {% endif %}
  </table>

  </center>
</body>

</html>
